body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #04aa6d;
  padding: 0.5rem;
}

.header_right {
  margin: 0.5rem 0;
}

.header_identity{
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 15px;
}
.content {
  margin: 4rem 0;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: auto;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.addBtn {
  padding: 0.8rem;
}
